* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_list {
    list-style: none;
    display: flex;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Windlass', sans-serif;
    background-color: #FF6200;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    width: 100%;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 0
}

.nav_list > li {
    margin-right: 10px; 
}

.nav_list > li > a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
}

.btns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btns button {
    background-color: #00BFB2;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid black;
    border-style: groove;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btns button:hover {
    background-color: #185f65;
}

.main-content{
    background-image: url("../assets/imgs/background_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 50%;
}

.main-content .titulo{
    margin: 0;

}
