* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_list {
    list-style: none;
    display: flex;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Windlass', sans-serif;
    background-color: #FF6200;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    width: 100%;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 0;
}

.nav_list > li {
    margin-right: 10px; 
}

.nav_list > li > a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
}

.btns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btns button {
    background-color: #00BFB2;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid black;
    border-style: groove;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btns button:hover {
    background-color: #185f65;
}

.main-content {
    position: relative;
    height: 100vh;
}

.main-content .background_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/imgs/background_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 40%; 
}

.main-content .titulo {
    position: relative;
    margin: 0;
    color: black;
    font-size: 20px; 
    font-family: 'Windlass', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}

.main-content .sobre_mim {
    display: flex;
    align-items: center;
    background-color: #185F65;
    width: 80%;  
    height: 250px;
    position: relative;
    border-top-right-radius: 20px;   
    border-bottom-right-radius: 20px; 
}

.main-content .sobre_mim h1 {
    padding-bottom: 200px;
    padding-top: 15px;
    padding-left: 5%;
    position: relative;
    color: white;
    font-size: 40px; 
    font-family: 'Windlass', sans-serif;
    text-shadow: 8px 6px 8px rgba(0, 0, 0, 0.7);}

.main-content .sobre_mim .img_sobre_mim {
    align-items: center;
    margin-left: 20px;
    width: 220px;
    height: 200px;
}
.main-content .sobre_mim  .ola {
    align-items: center;
    margin-left: 20px;
    width: 220px;
    height: 200px;
}
    
    

