body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100%;
    background-color: #00bfb2; 
    flex-direction: row-reverse;
    
}

.left-section {
    background-color: #f0f0f0; 
    flex: 1;
    width: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;

}


.right-section {
    background-color: #000000;
    padding: 0px;
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section {
    background-image: url("../assets/imgs/annabeth_cadastro.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.formulario {
    width: 700px; 
    height: 550px; 
    background-color: #00bfb2; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.formulario p {
    font-size: 16px;
    text-align: center;
    color: #333;
}
